Repository sethusaim/wafer-fault-serverless: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service, Plan and Apply new infrastructure

Build and Push Clustering Service:
        environment {
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_DEFAULT_REGION = "us-east-1"
          REPO_NAME = "wafer_clustering"
  ...

Build and Push Data Transformation Prediction Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_DEFAULT_REGION = "us-east-1"
          REPO_NAME = "wafer_data_transform_pred"
  ...

Build and Push Data Transformation Train Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_DEFAULT_REGION = "us-east-1"
          REPO_NAME = "wafer_data_transform_train"
  ...

Build and Push Database Operation Prediction Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_DEFAULT_REGION = "us-east-1"
          MONGODB_URL = credentials('MONGODB_URL')
  ...

Build and Push Database Operation Training Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_DEFAULT_REGION = "us-east-1"
          MONGODB_URL = credentials('MONGODB_URL')
  ...

Build and Push Load Production Model Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_DEFAULT_REGION = "us-east-1"
  ...

Build and Push Model Prediction Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_DEFAULT_REGION = "us-east-1"
          REPO_NAME = "wafer_model_prediction"
  ...

Build and Push Model Training Service:
        environment {
          AWS_ACCESS_KEY_ID = credentials('AWS_ACCESS_KEY_ID')
          AWS_SECRET_ACCESS_KEY = credentials('AWS_SECRET_ACCESS_KEY')
          AWS_ACCOUNT_ID = credentials('AWS_ACCOUNT_ID')
          AWS_DEFAULT_REGION = "us-east-1"
  ...

added tmp dir for logger
  load_prod_model/utils/logger.py
Due: none

added tmp dir for uploading logs
  load_prod_model/utils/main_utils.py
Due: none

formatted
  load_prod_model/mlflow_operations.py
  load_prod_model/s3_operations.py
Due: Build and Push Load Production Model Service

added tmp dir for upload logs
  data_transform_pred/utils/main_utils.py
  data_transform_train/utils/main_utils.py
  db_operation_pred/utils/main_utils.py
  model_prediction/utils/main_utils.py
  preprocessing_pred/utils/main_utils.py
  raw_pred_data_validation/utils/main_utils.py
  raw_train_data_validation/utils/main_utils.py
Due: none

added tmp dir to logger
  raw_pred_data_validation/utils/logger.py
Due: none

added tmp dir for main_utils.py
  raw_pred_data_validation/utils/main_utils.py
Due: none

added lambda handler
  raw_pred_data_validation/run.py
Due: Build and Push Raw Prediction Data Validation Service

formatted
  raw_pred_data_validation/utils/main_utils.py
Due: none

added tmp dir uploading csv files
  raw_pred_data_validation/s3_operations.py
Due: Build and Push Raw Prediction Data Validation Service

added tmp dir for get_filename function
  raw_pred_data_validation/utils/main_utils.py
Due: none

added tmp dir for logger
  data_transform_pred/utils/logger.py
Due: none

added lambda handler
  data_transform_pred/run.py
Due: Build and Push Data Transformation Prediction Service

added tmp dir for uploading csv files
  data_transform_pred/s3_operations.py
Due: Build and Push Data Transformation Prediction Service

formatted code
  data_transform_pred/run.py
Due: Build and Push Data Transformation Prediction Service

added lambda handler
  db_operation_pred/run.py
Due: Build and Push Database Operation Prediction Service

added tmp dir to logger
  db_operation_pred/utils/logger.py
Due: none

added tmp dir for uploading logs
  db_operation_pred/utils/main_utils.py
Due: none

formatted code
  db_operation_pred/mongo_db_operations.py
  db_operation_pred/s3_operations.py
Due: Build and Push Database Operation Prediction Service

added tmp dir for uploading csv
  preprocessing_pred/s3_operations.py
Due: Build and Push Preprocessing Prediction Service

added tmp dir for logger
  preprocessing_pred/utils/logger.py
Due: none

added tmp dir
  preprocessing_pred/utils/main_utils.py
Due: none

formatted code
  preprocessing_pred/preprocessing.py
Due: Build and Push Preprocessing Prediction Service

sorted imports
  preprocessing_train/run.py
Due: Build and Push Preprocessing Train Service

added tmp dir to upload df as csv function
  model_prediction/s3_operations.py
Due: Build and Push Model Prediction Service

added tmp dir for logger
  model_prediction/utils/logger.py
Due: none

added tmp dir
  model_prediction/utils/main_utils.py
Due: none

added lambda handler
  model_prediction/run.py
Due: Build and Push Model Prediction Service

improvised code docs
  clustering/clustering.py
  clustering/utils/main_utils.py
  clustering/utils/read_params.py
Due: Build and Push Clustering Service

improvised code docs
  data_transform_pred/run.py
  data_transform_pred/s3_operations.py
Due: Build and Push Data Transformation Prediction Service

formatted files
  model_prediction/run.py
  model_prediction/s3_operations.py
  model_prediction/utils/logger.py
  model_prediction/utils/main_utils.py
Due: Build and Push Model Prediction Service

improvised code docs
  data_transform_train/data_transformation_train.py
  data_transform_train/run.py
  data_transform_train/s3_operations.py
  data_transform_train/utils/logger.py
Due: Build and Push Data Transformation Train Service

improvised code docs in db_operation_pred
  db_operation_pred/data_type_valid_pred.py
  db_operation_pred/mongo_db_operations.py
  db_operation_pred/run.py
  db_operation_pred/s3_operations.py
  db_operation_pred/utils/logger.py
  db_operation_pred/utils/main_utils.py
  db_operation_pred/utils/read_params.py
Due: Build and Push Database Operation Prediction Service

improvised code docs in clustering service
  clustering/clustering.py
  clustering/s3_operations.py
  clustering/utils/logger.py
  clustering/utils/main_utils.py
Due: Build and Push Clustering Service

improvised code docs in data transform pred service
  data_transform_pred/data_transformation_pred.py
  data_transform_pred/run.py
  data_transform_pred/s3_operations.py
  data_transform_pred/utils/logger.py
  data_transform_pred/utils/main_utils.py
Due: Build and Push Data Transformation Prediction Service

improvised code docs in data transform train service
  data_transform_train/data_transformation_train.py
  data_transform_train/run.py
  data_transform_train/s3_operations.py
  data_transform_train/utils/main_utils.py
Due: Build and Push Data Transformation Train Service

improvised code docs in db operation pred service
  db_operation_pred/data_type_valid_pred.py
  db_operation_pred/s3_operations.py
  db_operation_pred/utils/logger.py
  db_operation_pred/utils/main_utils.py
Due: Build and Push Database Operation Prediction Service

improvised code docs in db operation train service
  db_operation_train/data_type_valid_train.py
  db_operation_train/mongo_db_operations.py
  db_operation_train/run.py
  db_operation_train/s3_operations.py
  db_operation_train/utils/logger.py
  db_operation_train/utils/main_utils.py
Due: Build and Push Database Operation Training Service

formatted code
  data_transform_train/s3_operations.py
  db_operation_train/utils/logger.py
Due: Build and Push Data Transformation Train Service

added lambda handler
  load_prod_model/run.py
Due: Build and Push Load Production Model Service

improvised code docs in load prod model
  load_prod_model/mlflow_operations.py
  load_prod_model/s3_operations.py
  load_prod_model/utils/logger.py
  load_prod_model/utils/main_utils.py
Due: Build and Push Load Production Model Service

Path conditions:
  Build and Push Clustering Service: any of: clustering/*
  Build and Push Data Transformation Prediction Service: any of: data_transform_pred/*
  Build and Push Data Transformation Train Service: any of: data_transform_train/*
  Build and Push Database Operation Prediction Service: any of: db_operation_pred/*
  Build and Push Database Operation Training Service: any of: db_operation_train/*
  Build and Push Load Production Model Service: any of: load_prod_model/*
  Build and Push Model Prediction Service: any of: model_prediction/*
  Build and Push Model Training Service: any of: model_training/*
  Build and Push Preprocessing Prediction Service: any of: preprocessing_pred/*
  Build and Push Preprocessing Train Service: any of: preprocessing_train/*
  Build and Push Raw Prediction Data Validation Service: any of: raw_pred_data_validation/*
  Build and Push Raw Training Data Validation Service: any of: raw_train_data_validation/*
  Plan and Apply new infrastructure: any of: infrastructure/*
