Repository sethusaim/wafer-fault-serverless: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service, Build and Push Raw Training Data Validation Service, Plan and Apply new infrastructure

Path conditions:
  Build and Push Clustering Service: any of: clustering/*
  Build and Push Data Transformation Prediction Service: any of: data_transform_pred/*
  Build and Push Data Transformation Train Service: any of: data_transform_train/*
  Build and Push Database Operation Prediction Service: any of: db_operation_pred/*
  Build and Push Database Operation Training Service: any of: db_operation_train/*
  Build and Push Load Production Model Service: any of: load_prod_model/*
  Build and Push Model Prediction Service: any of: model_prediction/*
  Build and Push Model Training Service: any of: model_training/*
  Build and Push Preprocessing Prediction Service: any of: preprocessing_pred/*
  Build and Push Preprocessing Train Service: any of: preprocessing_train/*
  Build and Push Raw Prediction Data Validation Service: any of: raw_pred_data_validation/*
  Build and Push Raw Training Data Validation Service: any of: raw_train_data_validation/*
  Plan and Apply new infrastructure: any of: infrastructure/*

sorted imports
  clustering/run.py
Due: Build and Push Clustering Service

updated run.py
  clustering/run.py
Due: Build and Push Clustering Service

updated Dockerfile
  clustering/Dockerfile
Due: Build and Push Clustering Service

sorted imports
  raw_train_data_validation/s3_operations.py
Due: Build and Push Raw Training Data Validation Service

modified Dockerfile
  raw_train_data_validation/Dockerfile
Due: Build and Push Raw Training Data Validation Service

added lambda handler
  raw_train_data_validation/run.py
Due: Build and Push Raw Training Data Validation Service

restored to previous docker image
  raw_train_data_validation/Dockerfile
Due: Build and Push Raw Training Data Validation Service

removed lambda handler
  raw_train_data_validation/run.py
Due: Build and Push Raw Training Data Validation Service

added force_delete arg to ecr repos
  infrastructure/ecr_repos/wafer_clustering_ecr/clustering_ecr.tf
  infrastructure/ecr_repos/wafer_clustering_ecr/variables.tf
  infrastructure/ecr_repos/wafer_data_transform_pred_ecr/data_transform_pred_ecr.tf
  infrastructure/ecr_repos/wafer_data_transform_pred_ecr/variables.tf
  infrastructure/ecr_repos/wafer_data_transform_train_ecr/data_transform_train.tf
  infrastructure/ecr_repos/wafer_data_transform_train_ecr/variables.tf
  infrastructure/ecr_repos/wafer_db_operation_pred_ecr/db_operation_pred.tf
  infrastructure/ecr_repos/wafer_db_operation_pred_ecr/variables.tf
  infrastructure/ecr_repos/wafer_db_operation_train_ecr/db_operation_train.tf
  infrastructure/ecr_repos/wafer_db_operation_train_ecr/variables.tf
  infrastructure/ecr_repos/wafer_load_prod_model_ecr/load_prod_model.tf
  infrastructure/ecr_repos/wafer_load_prod_model_ecr/variables.tf
  infrastructure/ecr_repos/wafer_model_prediction_ecr/model_prediction.tf
  infrastructure/ecr_repos/wafer_model_prediction_ecr/variables.tf
  infrastructure/ecr_repos/wafer_model_training_ecr/model_training.tf
  infrastructure/ecr_repos/wafer_model_training_ecr/variables.tf
  infrastructure/ecr_repos/wafer_preprocessing_pred_ecr/preprocessing_pred.tf
  infrastructure/ecr_repos/wafer_preprocessing_pred_ecr/variables.tf
  infrastructure/ecr_repos/wafer_preprocessing_train_ecr/preprocessing_train.tf
  infrastructure/ecr_repos/wafer_preprocessing_train_ecr/variables.tf
  infrastructure/ecr_repos/wafer_raw_pred_data_validation_ecr/raw_pred_data_validation.tf
  infrastructure/ecr_repos/wafer_raw_pred_data_validation_ecr/variables.tf
  infrastructure/ecr_repos/wafer_raw_train_data_validation_ecr/raw_train_data_validation.tf
  infrastructure/ecr_repos/wafer_raw_train_data_validation_ecr/variables.tf
Due: none

minor change
  infrastructure/ecr_repos/wafer_raw_train_data_validation_ecr/raw_train_data_validation.tf
Due: none

updated Dockerfile and run.py
  raw_train_data_validation/Dockerfile
  raw_train_data_validation/run.py
Due: Build and Push Raw Training Data Validation Service

revised Dockerfile
  raw_train_data_validation/Dockerfile
Due: Build and Push Raw Training Data Validation Service

added tmp dir for lambda execution
  raw_train_data_validation/utils/logger.py
  raw_train_data_validation/utils/main_utils.py
Due: none

improvised lambda functions dockerfiles
  clustering/Dockerfile
  data_transform_pred/Dockerfile
  data_transform_train/Dockerfile
  db_operation_pred/Dockerfile
  db_operation_train/Dockerfile
  load_prod_model/Dockerfile
  model_prediction/Dockerfile
  model_training/Dockerfile
  preprocessing_pred/Dockerfile
  preprocessing_train/Dockerfile
  raw_pred_data_validation/Dockerfile
Due: Build and Push Clustering Service, Build and Push Data Transformation Prediction Service, Build and Push Data Transformation Train Service, Build and Push Database Operation Prediction Service, Build and Push Database Operation Training Service, Build and Push Load Production Model Service, Build and Push Model Prediction Service, Build and Push Model Training Service, Build and Push Preprocessing Prediction Service, Build and Push Preprocessing Train Service, Build and Push Raw Prediction Data Validation Service

made changes in run.py
  raw_train_data_validation/run.py
Due: Build and Push Raw Training Data Validation Service

made changes in main_utils.py
  raw_train_data_validation/utils/main_utils.py
Due: none

added tmp dir for lambda execution
  data_transform_train/utils/logger.py
Due: none

added tmp dir for upload logs function
  data_transform_train/utils/main_utils.py
Due: none

added lambda handler fucntion to run.py
  data_transform_train/run.py
Due: Build and Push Data Transformation Train Service

formatted
  data_transform_train/s3_operations.py
Due: Build and Push Data Transformation Train Service

added tmp dir for uploading csv files
  data_transform_train/s3_operations.py
Due: Build and Push Data Transformation Train Service

added tmp dir for uploading csv files
  raw_train_data_validation/s3_operations.py
Due: Build and Push Raw Training Data Validation Service

added tmp dir for logger
  db_operation_train/utils/logger.py
Due: none

added tmp dir for main_utils.py
  db_operation_train/utils/main_utils.py
Due: none

added lambda handler
  db_operation_train/run.py
Due: Build and Push Database Operation Training Service

formatted
  db_operation_train/mongo_db_operations.py
  db_operation_train/s3_operations.py
Due: Build and Push Database Operation Training Service

added tmp dir for logger
  preprocessing_train/utils/logger.py
Due: none

added lambda handler
  preprocessing_train/run.py
Due: Build and Push Preprocessing Train Service

formatted
  preprocessing_train/preprocessing.py
  preprocessing_train/s3_operations.py
  preprocessing_train/utils/main_utils.py
Due: Build and Push Preprocessing Train Service

added tmp dir for logger
  clustering/utils/logger.py
Due: none

added tmp dir for uploading logs
  clustering/utils/main_utils.py
Due: none

sorted imports
  clustering/clustering.py
Due: Build and Push Clustering Service

formatted
  clustering/s3_operations.py
Due: Build and Push Clustering Service

added tmp dir for logger
  model_training/utils/logger.py
Due: none

made new changes
  model_training/utils/main_utils.py
Due: none

added tmp dir for save model
  model_training/s3_operations.py
Due: Build and Push Model Training Service

sorted imports
  model_training/tuner.py
Due: Build and Push Model Training Service

formatted code
  preprocessing_train/run.py
  preprocessing_train/utils/logger.py
Due: Build and Push Preprocessing Train Service

formatted
  preprocessing_train/run.py
Due: Build and Push Preprocessing Train Service
